* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

main {
    margin: 2em 2em 2em 2em;
}

body {
    background-color: #3b3838;
}

header {
    height: 55px;
    background-color: #2a2929;
    box-shadow: 0px 0px 10px 2px #262525;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px 15px 0px 15px;
}

#navbar .first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

#navbar .second {
    display: flex;
    flex-direction: row-reverse;
    width: 25%;
}

.btn {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border: solid 1px grey;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    background-color: transparent;
    transition: 0.2s;
}

.btn:hover {
    background-color: #d9570c;
    transition: 0.2s;
}

.containerAll {
    width: 99%;
    margin: 2em auto 0px auto;
}

.bigCards {
    background-color: #564c4c;
    width: 650px;
    height: 470px;
    border-radius: 1em;
    box-shadow: 0px 0px 5px 0px white;
}

.cards-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    width: auto;
    padding: 10px;
    margin-left: 10px;
    color: white;
}

.notesPlus {
    position: absolute;
    right: 20px;
}

.notesPlus a {
    color: white;
    font-size: 1.4em;
}

.subTitle {
    color: white;
    font-size: 1.4em;
    display: table;
    border-bottom: solid 1px #c7860f;
}

.btn-close {
    position: absolute;
    width: 40%;
    bottom: 20px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.champs {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.tableauContainer {
    min-height: 403px;
    height: 403px;
    min-width: 100px;
    width: 100%;
    overflow: auto;
}

#popUpNotes {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #1e1818;
    border: none;
    border-radius: 1em;
    padding: 20px;
}

#popUpTaches {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #1e1818;
    border: none;
    border-radius: 1em;
    padding: 20px;
}

#humberger {
    display: none;
}

#tableauNotes {
    border-collapse: collapse;
    width: 98%;
    margin: 10px auto;
    max-height: 500px;
    overflow-y: auto;
}

#tableau {
    border-collapse: collapse;
    width: 98%;
    margin: 10px auto;
    max-height: 500px;
    overflow-y: auto;
}
  
thead {
    background-color: #c7860f;
}

th {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: white;
    padding: 8px;
    border: solid 1px white;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 1.2em;
}

tr:nth-child(even) {
    background-color: #857d7d;
}

.cntCards {
    position: relative;
    width: 650px;
    height: 750px;
    margin: 5em auto;
    border-radius: 2em;
    box-shadow: 0px 0px 20px 1px black;
    background-color: white;
}

.cntContenu {
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
}

@media (max-width: 2050px) {
    .bigCards {
        width: 500px;
    }
}
  
@media (max-width: 1600px) {
    .cards-flex {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0em;
    }
    .bigCards {
        margin-bottom: 2em;
        width: 90%;
    }
}

@media (max-width: 1050px) {
    #navbar {
        display: none;
    }
    #humberger {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 15px;
    }
    #humberger button {
        font-size: 2em;
        color: white;
        border: none;
        background-color: transparent;
    }
}

@media (max-width: 825px) {
    #popUpNotes {
        width: 85%;
    }
    #popUpTaches {
        width: 85%;
    }
}



.TODO {
    font-size: 2em; 
    font-weight: bold;
    color: white;
}

.top_Pages {
    height: 50px;
    max-height: 50px;
    margin: 2em auto;
}

.top_Pages2 {
    display: flex;
}

.block_mental {
    display: flex; 
    max-width: 1800px;
    margin: 0 auto;
}

.block_mental {
    display: flex;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 2em;
}

.cart_mental {
    max-width: 500px;
    width: 400px;
    max-height: 200px;
    height: 200px;
    margin: 0 2em 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 0px 0px 8px 0px black;
    transition: 0.2s;
}

.cart_mental:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.cart_title {
    font-size: 2em;
    color: rgb(15, 62, 105);
    text-align: center;
    line-height: 2em;
}

.big_cart_title {
    font-size: 3em;
    font-weight: bold;
    color: orange;
}

.subbig_cart_title {
    font-size: 2em;
    text-decoration: underline;
    color: white;
    margin-top: 1em;
    margin-bottom: 10px;
}

.block_mental2 p {
    font-size: 1.6em;
    color: grey;
    line-height: 1.6em;
}

.def {
    background-color: #6b4f4f;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 0px white;
}

.def ul li {
    list-style: disc;
}

.def__Title {
    font-size: 2em;
    font-weight: bold;
    color: orange;
}

.def__SubTitle {
    font-size: 1.6em;
    font-weight: 500;
    color: white;
}

.def__Para {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.4em;
    color: #bea4a4;
    margin-left: 1em;
}

.methodeJS ul li span {
    background-color: red;
}