* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #3b3838;
}

header {
    height: 55px;
    background-color: #2a2929;
    box-shadow: 0px 0px 10px 2px #262525;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px 15px 0px 15px;
}

#navbar .first {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

#navbar .second {
    display: flex;
    flex-direction: row-reverse;
    width: 25%;
}

.btn {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    background-color: transparent;
    transition: 0.2s;
}

.btn:hover {
    background-color: #d9570c;
    transition: 0.2s;
}

.containerAll {
    width: 99%;
    margin: 2em auto 0px auto;
}

.bigCards {
    background-color: #564c4c;
    width: 500px;
    height: 350px;
    border-radius: 1em;
    box-shadow: 0px 0px 5px 0px white;
}

.cards-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    color: white;
    border-bottom: solid 1px #c7860f;
}

.notesPlus {
    position: absolute;
    right: 20px;
}

.notesPlus a {
    color: white;
    font-size: 1.4em;
}

.subTitle {
    color: white;
    font-size: 1.4em;
    display: table;
    border-bottom: solid 1px #c7860f;
}

.btn-close {
    position: absolute;
    width: 40%;
    bottom: 20px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.champs {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

#popUpNotes {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: #1e1818;
    border: none;
    border-radius: 1em;
    padding: 20px;
}

#popUpNotes button:first-child {
    left: 25px;
}

#popUpNotes button:last-child {
    right: 25px;
}


#humberger {
    display: none;
}

@media (max-width: 800px) {
    #navbar {
        display: none;
    }
    #humberger {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 15px;
    }
    #humberger button {
        font-size: 2em;
        color: white;
        border: none;
        background-color: transparent;
    }
}